body {
    background-color: aqua;
}

hr {
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
    align-items: center;
    /* height: 2px; */
    
}

h1,h3 {
color: brown;
}

.page {
    color:blueviolet;
}

.page:hover {
    color: #000;
    font-size: larger;
}

.circular {
    border-radius: 100%;
}
.size {
    height: 100px;
    width: 100px;
}

#head3 {
    color:rgb(196, 89, 89);
}
